<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

	{{ partial "nav.html" . }}

	<div role="main" class="container main-content">

		<section id="main">
		<div>
			<h1 id="title">{{ .Title }}</h1>
		    {{ range .Data.Pages.GroupByParam "path"}}
			<h3>{{ .Key }}</h3>
			<ul>
			    {{ range .Pages.ByLinkTitle }}
			    <li>
			    <a href="{{ .Permalink }}">{{ .Title }}</a>
			    <div class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
			    </li>
			    {{ end }}
			</ul>
			{{ end }}
		</div>
		</section>

	</div>

	{{ partial "footer.html" . }}

  </body>
</html>
