<!-- TODO this file has become a mess, refactor it -->

{{ if or .Params.bigimg .Title }}

{{ if .Params.bigimg }}
  <div id="header-big-imgs" data-num-img=1 data-img-src-1="{{.Params.bigimg}}"></div>
{{ end }}

<header class="header-section {{ if .Params.bigimg }}has-img{{ end }}">
{{ if .Params.bigimg }}
<div class="big-img intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ .Type }}-heading">
          <h1>{{ if .Title }}{{ .Title }}{{ else }}<br/>{{ end }}</h1>
      {{ if .Params.subtitle }}
        {{ if eq .Type "page" }}
            <hr class="small">
            <span class="{{ .Type }}-subheading">{{ .Params.subtitle }}</span>
      {{ else }}
      <h2 class="{{ .Type }}-subheading">{{ .Params.subtitle }}</h2>
      {{ end }}
      {{ end }}
      
      {{ if eq .Type "post" }}
      <span class="post-meta">Data: {{ .Date.Format "02/01/2006" }}</span><br>
      <span class="post-meta">Tempo de Leitura: {{ .ReadingTime }} minutos</span><br>
      <span class="post-meta">Categorias: {{ delimit .Params.categories ", " }}</span>
      {{ end }}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{{ end }}
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ .Type }}-heading">
          <h1>{{ if .Title }}{{ .Title }}{{ else }}<br/>{{ end }}</h1>
      {{ if .Params.subtitle }}
        {{ if eq .Type "page" }}
            <hr class="small">
            <span class="{{ .Type }}-subheading">{{ .Params.subtitle }}</span>
      {{ else }}
      <h2 class="{{ .Type }}-subheading">{{ .Params.subtitle }}</h2>
      {{ end }}
      {{ end }}
      
      {{ if eq .Type "post" }}
      <span class="post-meta">Data: {{ .Date.Format "02/01/2006" }}</span><br>
      <span class="post-meta">Tempo de Leitura: {{ .ReadingTime }} minutos</span><br>
      <span class="post-meta">Categorias: {{ delimit .Params.categories ", " }}</span>
      {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{{ else }}
<div class="intro-header"></div>
{{ end }}